{% extends "website/base.html" %}
{% block content %}

  {% if user.is_authenticated %}

    <h1 class="mt-2">Customer records</h1>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#id</th>
          <th scope="col">Created at</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">State</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
        {% if records %}
          {% for record in records %}
            <tr>
              <th scope="row">
                <a href="{% url "website:record" pk=record.id %}">{{ record.id }}</a>
              </th>
              <td>{{ record.created_at }}</td>
              <td>{{ record.first_name }}</td>
              <td>{{ record.last_name }}</td>
              <td>{{ record.phone }}</td>
              <td>{{ record.email }}</td>
              <td>{{ record.state }}</td>
              <td>{{ record.city }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

  {% else %}

    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h1>Login</h1>

        <form method="post" action="{% url 'website:home' %}">
          {% csrf_token %}

          <div class="mb-3">
            <label for="InputUsername" class="form-label">Username</label>
            <input type="text"
                   class="form-control"
                   id="InputUsername"
                   name="username"
                   required />
          </div>

          <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password"
                   class="form-control"
                   id="InputPassword"
                   name="password"
                   required />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>
    </div>

  {% endif %}

{% endblock content %}
