:root {
  --bs-primary: #0d6efd; /*#0d6efd;*/
  --bs-secondary: #6c757d; /*#6c757d;*/
  --bs-dark: #212529; /*#212529;*/
  /* --my-grey: #4b5563; */
}

body {
  background-color: #f3f8fd;
}

/* Button */
.btn-outline-success {
  --bs-btn-color: #0f766e; /* text color (normal) */
  --bs-btn-border-color: #0f766e; /* border color (normal) */
  --bs-btn-hover-bg: #0f766e; /* background on hover */
  --bs-btn-hover-border-color: #0f766e; /* border on hover */
  --bs-btn-active-bg: #0f766e; /* background on active/focus */
  --bs-btn-active-border-color: #0f766e; /* border on active/focus */
  --bs-btn-disabled-color: #0f766e; /* text when disabled */
  --bs-btn-disabled-border-color: #0f766e; /* border when disabled */
}

.bg-light-blue {
  background-color: #deecfa;
}

.border-radius-14 {
  border-radius: 14px;
}

.table-mobile-nowrap th,
.table-mobile-nowrap td {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .table-mobile-nowrap th,
  .table-mobile-nowrap td {
    white-space: normal;
  }
}

/* registration form text */
/* .registration_form .helptext {
  
} */
